/* Dispositivos re chiquitos */
header {
  background-color: var(--main-bg-color);
  color: var(--lettersColor);
}

header h1 {
  text-align: center;
  font-size: 1.4rem;
  padding: 20px 0;
}

header i {
  margin-left: 10px;
}
nav i {
  font-size: 1.5rem;
  color: var(--lettersColor);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  header {
    background-color: var(--main-bg-color);
    color: var(--lettersColor);
  }

  header h1 {
    text-align: center;
    font-size: 1.4rem;
    padding: 20px 0;
  }

  header i {
    margin-left: 10px;
  }

  nav i {
    font-size: 1.5rem;
    color: var(--lettersColor);
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  header {
    background-color: var(--main-bg-color);
    color: var(--lettersColor);
  }

  header h1 {
    text-align: center;
    font-size: 1.7rem;
    padding: 20px 0;
  }

  header i {
    margin-left: 10px;
  }

  nav i {
    font-size: 1.5rem;
    color: var(--lettersColor);
  }
}

/* Laptop size */
@media (min-width: 992px) {
  header {
    background-color: var(--main-bg-color);
    color: var(--lettersColor);
  }

  header h1 {
    text-align: center;
    font-size: 2rem;
    padding: 20px 0;
  }

  nav i {
    font-size: 1.2rem;
    padding-right: 0.8rem;
    color: var(--lettersColor);
  }

  nav i:hover {
    color: var(--hover-items);
  }
}
